body {
    background: linear-gradient(to bottom, papayawhip, coral);
} 

#title {
    color: #e83209;
}

.subtitle {
    color: #f44822;
}

#service-image {
    height: 400px;
    width: 70%;
    background: radial-gradient(circle, red 20%, blue 40%, green 55%);
}

#about-us-image {
    height: 250px;
    width: 40vw;
}