body {
    background: linear-gradient(to bottom, papayawhip, coral);
} 

#title {
    color: #e83209;
}

.subtitle {
    color: #f44822;
}

#service-image {
    height: 400px;
    width: 70%;
    background: radial-gradient(circle, red 20%, blue 40%, green 55%);
    float: right; 
}

#about-us-image {
    height: 250px;
    width: 40vw;
    float: right;
}

.site-table {
    display: inline-block; 
}

.container {
    background: white;
    height: 300px;

    /* flexbox stuff */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    /* space-around, space-between, flex-start and flex-end */

    align-items: center;
    /* stretch, flex-start, baseline and flex-end */
}

.container-item {
    background: green;
    color: white;
    width: 50px;
    font-size: 22px;
    margin: 0.5rem;
    text-align: center;
}